<ul class="list-group">
  <li routerLink="/products"> Tüm ürünler</li>
    <li [class]="getAllCategoryClass()" (click)="setCurrentCategory(currentCategory)" [class]="getCurrentCategoryClass" 
    aria-current="true">
    <!-- routerLink="/products/category/{{category.categoryId}}" -->
    
      @for(category of categories;track category.categoryName) {
        {{category.categoryName}}
      }
    </li>
    
  </ul>
  @if(currentCategory) {
    <h5>{{currentCategory.categoryName}} sectiniz</h5> 
  }

