@if (dataLoaded===false) {<div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>}

<table>
    <tr >
       

           
                @for (product of products; track product.productId) {
                <th>  {{ product.productId}}</th>
                <th>  {{ product.productName}}</th>
                <td>  {{ product.categoryId}}</td>
                <td>  {{ product.unitPrice}}</td>
                <td>  {{ product.unitsInStock}}</td>
                } 
                
              

       
    </tr>
</table>
